.container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.themes__container {
	display: flex;
	height: 77vh;
	align-self: center;
	justify-self: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}